/***********ESTILOS GENERALES*********************/


#home a{
	text-decoration: none;
}

.white{
	color:white;
}
.blue{
	color: #00529b;
}
.grey-obscuro{
	color: #6e6e6e;
}
/*************** TITULO CARGA ARCHIVO *****************/

#nav-carga-reporte .cargarep-est-btn {
    font-size: 14px;
    font-family: sans-serif;
    background: #e9e9e9;
    width: 316px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    margin-left: 48px;
    font-weight: 600;
    color: #FFF ;    
    background-color: #00529b;
     border-radius: 7px;
}

#nav-carga-reporte .cargarep-est-btn:hover {
    color: #fff ;
    background-color: #59ad40;
    border-color: transparent;
}


.reporte-icon{
	font-size: 23px;
    margin: 7px;	
}

/*************TABLA*****************/
table{
	width: 100%;
}

#tbl-gnral-btones table{
	width: 100%;
}

.tbla-whit-center{
	width:40%;
}

.portafolio-icon{
	 font-size: 150px;
}

.img-left{
	width: 258px;
    float: left;
    text-align: center;
    margin-top: 18px;
}



/****************btns*************/
.tbl-btn-gnral{
	width: 810px;
	height: 420px;
}

.est-titulos {
   font-size: 15px;
    font-family: sans-serif;
    line-height: 32px;
    text-align: center;
    margin-left: 48px;
    font-weight: 600;
    color: #00529b ;    
    background-color: rgba(0, 0, 0, 0);
    
}


.est-img{
	height: 100%;
    width: 100%;
}


